[build]
builder = "NIXPACKS"
buildCommand = "npm ci && npm run build"
watchPatterns = ["server/**"]

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.healthcheck]
path = "/health"
timeout = 100

